<%- include ('./partials/header'); %>
<body>
    <%- include('./partials/navbar') ;%>

    <div class="container">
        <br>
        <h2>Question: </h2>
        <hr>
        <div class="card">
            <div class="card-body">
                <h3><%= question.title %></h3>
                <h4><%= question.description %></h4>
            </div>
        </div>

        <h4>answer</h4>
        <br>

        <form method="POST" action="/answer" class="form-group">
            <textarea name="body" class="form-control" cols="30" rows="5"></textarea>
            <br>
            <input type="hidden" name="questionId" value="<%= question.id %>">
            <button class="btn btn-success" type="submit">answer</button>
        </form>


        <h4>all answers</h4>
        <% answers.forEach(answer => { %>
            <div class="card">
                <div class="card-body">
                    <h4><%= answer.body %></h4>
                </div>
            </div><br>
        <% }) %>
    </div>

<%- include('./partials/footer') ;%>